
<div class="card">
  <div class="card-header">
    Miraw
  </div>
  <div class="card-body">
    <h5 class="card-title">Find me in app/views/home/index.html.erb</h5>
    <p class="card-text">Indian Online Shopping Application</p>
    <a href="<%= store_index_path %>" class="btn btn-primary">Go to Store</a>
  </div>
</div>
