<div class="d-table">
    <% @orders.includes(items: [:product]).each do |order| %>
        <div class="d-table-row">
            <div class="d-table-cell p-5"><%= order.id %></div>
             <div class="d-table-cell  p-5">
                <ol>
                    <% order.items.each do |item| %>
                        <li><%= item.product.title %> (<%= item.quantity %>)</li>
                    <% end  %>
                </ol>
             </div>
            </div>
        </div>
    <% end %>
</div>
